<h1>{{ title }}</h1>

<div class="todo-container">
  <ng-container *ngIf="todos$ | async as todos; else loading">
    <mat-list class="todo-list">
      <ng-container *ngFor="let todo of todos; let last = last">
        <todo-item [todo]="todo"></todo-item>
        <mat-divider *ngIf="!last" />
      </ng-container>
    </mat-list>
  </ng-container>

  <a mat-button
    routerLink="/todos/create">
    Create new Todo
  </a>
</div>

<ng-template #loading>
  <div class="loading-container">
    <mat-spinner></mat-spinner>
    <h3>Loading todos...</h3>
  </div>
</ng-template>
